{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sara Saidi</title>
    <link rel="shortcut icon" href="{% static 'assets/images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<main>
{% include '_partials/_sidebar.html' %}
    <div class="main-content">
       {% include '_partials/_navbar.html' %}
        <article class="about  active" data-page="about">
            <header>
                <h2 class="h2 article-title">About me</h2>
            </header>
            <section class="about-text">
                {% for about in abouts %}
                <p>
                    {{about.text|safe}}
                </p>
                {% endfor %}
              
            </section>
            
              <section class="skill">
                <h3 class="h3 skills-title">My skills</h3>
                <ul class="skills-list content-card">
                    {% for skill in skills %}
                    <li class="skills-item">
                        <div class="title-wrapper">
                            <h5 class="h5">{{ skill.title}}</h5>
                            <data value="50">({{ skill.percent }}%)</data>
                        </div>
                        <div class="skill-progress-bg">
                            <div class="skill-progress-fill" style="width: 50%;"></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            
            <div class="modal-container" data-modal-container>
                <div class="overlay" data-overlay></div>
                <section class="testimonials-modal">
                    <button class="modal-close-btn" data-modal-close-btn>
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                    <div class="modal-img-wrapper">
                        <figure class="modal-avatar-box">
                            <img src="{% static 'assets/images/avatar.png' %}" alt="Daniel lewis" width="80"
                                 data-modal-img>
                        </figure>
                        <img src="{% static 'assets/images/icon-quote.png' %}" alt="quote icon">
                    </div>
                    <div class="modal-content">
                        <h4 class="h3 modal-title" data-modal-title>Lorem ipsum</h4>
                        <time datetime="2021-06-14">5 Sep, 1996</time>
                        <div data-modal-text>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore magna aliqua. Egestas purus viverra accumsan in nisl nisi. Arcu cursus vitae
                                congue mauris
                                rhoncus
                                aenean vel elit scelerisque.</p>
                        </div>
                    </div>
                </section>
            </div>
        </article>
        <article class="education" data-page="education">
            <header>
                <h2 class="h2 article-title">Education</h2>
            </header>
            <section class="timeline">
                <div class="title-wrapper">
                    <div class="icon-box">
                        <ion-icon name="book-outline"></ion-icon>
                    </div>
                    <h3 class="h3">Academic</h3>
                </div>
                {% for academic in academics %}
                <ol class="timeline-list">
                    <li class="timeline-item">
                        <h4 class="h4 timeline-item-title">{{ academic.name}}</h4>
                        <span>{{ academic.date }}</span>
                        <p class="timeline-text">
                            {{academic.text|safe}}
                        </p>
                    </li>
                </ol>
                    <br>
                 {% endfor %}
             <div class="title-wrapper">
                    <div class="icon-box">
                        <ion-icon name="book-outline"></ion-icon>
                    </div>
                    <h3 class="h3">Courses</h3>
                </div>
              {% for course in courses %}
                <ol class="timeline-list">
                    <li class="timeline-item">
                        <h4 class="h4 timeline-item-title">{{ course.name}}</h4>
                        <span>{{ course.date }}</span>
                        <p class="timeline-text">
                            {{course.text|safe}}
                        </p>
                    </li>
                </ol>
                 {% endfor %}
            
            </section>
        </article>
        <article class="experience" data-page="experience">
            <header>
                <h2 class="h2 article-title">Experience</h2>
            </header>
            <section class="timeline">
                <div class="title-wrapper">
                    <div class="icon-box">
                        <ion-icon name="book-outline"></ion-icon>
                    </div>
                    <h3 class="h3">Experience</h3>
                </div>
                <ol class="timeline-list">
                    <li class="timeline-item">
                        <h4 class="h4 timeline-item-title">Lorem ipsum</h4>
                        <span>1995 — 1996</span>
                        <p class="timeline-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue
                            mauris rhoncus
                            aenean vel elit scelerisque
                        </p>
                    </li>
                    <li class="timeline-item">
                        <h4 class="h4 timeline-item-title">Lorem ipsum</h4>
                        <span>1995 — 1996</span>
                        <p class="timeline-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue
                            mauris rhoncus
                            aenean vel elit scelerisque
                        </p>
                    </li>
                    <li class="timeline-item">
                        <h4 class="h4 timeline-item-title">Lorem ipsum</h4>
                        <span>1995 — 1996</span>
                        <p class="timeline-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue
                            mauris rhoncus
                            aenean vel elit scelerisque
                        </p>
                    </li>
                </ol>
            </section>
                <div class="filter-select-box">
                    <button class="filter-select" data-select>
                        <div class="select-value" data-selecct-value>Select category</div>
                        <div class="select-icon">
                            <ion-icon name="chevron-down"></ion-icon>
                        </div>
                    </button>
                </div>
        </article>
        <article class="contact" data-page="contact">
            <header>
                <h2 class="h2 article-title">Contact</h2>
            </header>
            <section class="mapbox" data-mapbox>
                <figure>
                    <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21787.057070948435!2d51.48860451249146!3d35.734446453624436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e02dbb06b6d2b%3A0x655bd7992293f2ab!2sNarmak%2C%20Tehran%2C%20Tehran%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1741084327408!5m2!1sen!2s"
                            width="400" height="300" loading="lazy"></iframe>
                </figure>
            </section>
            <section class="contact-form">
                <h3 class="h3 form-title">Contact Form</h3>
                <form action="#" class="form" data-form>
                    <div class="input-wrapper">
                        <input type="text" name="fullname" class="form-input" placeholder="Full name" required
                               data-form-input>
                        <input type="email" name="email" class="form-input" placeholder="Email address" required
                               data-form-input>
                    </div>
                    <textarea name="message" class="form-input" placeholder="Your Message" required
                              data-form-input></textarea>
                    <button class="form-btn" type="submit" data-form-btn>
                        <ion-icon name="paper-plane"></ion-icon>
                        <span>Send Message</span>
                    </button>
                </form>
            </section>
        </article>
    </div>
</main>
<script src="{% static 'assets/js/script.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>